workDir = "/home/kammj2/scratch/guidebender_benchmarking/work"
report.overwrite = true

params {
    sample_sheet = null
    outdir = null
    cpus = 4
    memory = "16 GB"
    skipCrispatBig = false
    skipSceptre = false
    skipCleanser = false
    maxMemFactor = 1.0
    demuxemMemFactor = 1.0
    crispatBigMemFactor = 1.0
    cleanserMemFactor = 1.0
    clusterQueueSize = 100
    defaultParallelCpus = 8
}
report {
    enabled = true
    file = "${params.outdir}/report.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_trace.txt"
    overwrite = true
    fields = "task_id,tag,hash,native_id,name,status,exit,submit,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar"
}
timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}

profiles {
    local {
        process {
            executor = 'local'
            cpus = params.cpus
            memory = params.memory
        }
    }
    slurm {
        executor {
            name = 'slurm'
            queueSize = params.clusterQueueSize
        }
        process {
            executor = 'slurm'
            clusterOptions = "--nodes=1 --qos=3h"
            cpus = 1
            memory = '16 GB'
            errorStrategy = 'retry'
            maxRetries = 2
            withLabel: 'split_combine' {
                memory = {MemoryUnit.of('8.GB') * task.attempt}
            }
            withLabel: 'data_conversion' {
                memory = {MemoryUnit.of('3.GB') * task.attempt}
            }
            withLabel: 'crispat_small' {
                cpus = params.defaultParallelCpus
                memory = {MemoryUnit.of('4.GB') * task.attempt}
                clusterOptions = "--nodes=1 --qos=1d"
            }
            withLabel: 'crispat_big' {
                cpus = params.defaultParallelCpus
                memory = {MemoryUnit.of('16.GB') * task.attempt * params.maxMemFactor * params.crispatBigMemFactor}
                clusterOptions = "--nodes=1 --qos=1d"
            }
            withLabel: 'cleanser' {
                cpus = params.defaultParallelCpus
                memory = {MemoryUnit.of('16.GB') * task.attempt * params.maxMemFactor * params.cleanserMemFactor}
                clusterOptions = "--nodes=1 --qos=1d"
            }
            withLabel: 'demuxem' {
                cpus = params.defaultParallelCpus
                memory = {MemoryUnit.of('8.GB') * task.attempt * params.maxMemFactor * params.demuxemMemFactor}
                clusterOptions = "--nodes=1 --qos=1d"
            }
            withLabel: 'fishash' {
                memory = {MemoryUnit.of('2.GB') * task.attempt}
            }
            withLabel: 'sceptre' {
                cpus = params.defaultParallelCpus
                memory = {MemoryUnit.of('16.GB') * task.attempt * params.maxMemFactor}
                clusterOptions = "--nodes=1 --qos=1d"
            }
        }
    }
}
